<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>NBA Report</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='nbareport.css') }}">
        <link href="https://fonts.googleapis.com/css2?family=Oxanium:wght@200;400;600;800&display=swap" rel="stylesheet">

    </head>
    <body>
        <h1>NBA Report</h1>
        
        <!-- Navigation buttons for changing the date -->
        <div class="date-changer">
            <button id="previous-day">Previous Day</button>
            <span id="current-date"></span>
            <button id="next-day">Next Day</button>
        </div>
    
        <div id="game-scores"></div>
        
        <script type="module" src="{{ url_for('static', filename='nbareport.js') }}"></script>
    </body>

    
</html>
